
.btn {
  border-radius: 16px;
  border: 1px solid transparent;
  padding: 7px 9px;
  font-size: 0.9em;
  font-family: var(--primary-font-family);
  cursor: pointer;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.9);
  background-color: #f9f9f9;



  @media (max-width: 1600px) {
    padding: 1px 5px;
    margin-left: 5px;
  }

  a {
    color: #213547;

    &:hover {
      color: var(--secondary-color);
    }
  }

  &:hover {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  }
}


.btn_log {
  background-color: rgb(0, 195, 138);
  margin-top: 10px;
}

.btn_aut {
  box-shadow: 0 1px 4px rgb(0, 195, 138);
  background: #ffffff;
  font-family: var(--tertiary-font-family);
  font-size: 18px;
  width: 400px;
  padding: 8px 0;

  &:hover {
    box-shadow: rgba(0, 0, 0, 5) 0 1px 3px;
  }
}

.btn_nav {
  font-size: 0.85em;
}

.btn_sign {
  font-family: 'Sigmar One', cursive;
  font-size: 13px;
  margin-top: 20px;
}

.btn_sub {
  padding: 8px 30px;
  margin-right: 20px;
}

.animal_button {
  width: 90px;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 10px;

  &:focus {
    outline: 4px solid rgb(0, 195, 138);
  }

}

.btn_count {
  margin-top: 40px;
}