

.selected {
  border: 2px solid black;
}

.data_input {
  padding: 5px;
  border-radius: 8px;
  border: 1px solid rgb(0, 195, 138);
  box-shadow: 0 1px 4px rgb(0, 195, 138);


  &:focus {
    border: 1px solid rgb(0, 195, 138);
    box-shadow: 0 1px 4px rgb(0, 195, 138);
    outline: none;
    border-radius: 8px;
  }
}

.sign_input {
  width: 400px;
  font-size: 15px;
  padding: 10px 10px;
  border: 1px solid rgb(0, 195, 138);;
  box-shadow: 0 1px 4px rgb(0, 195, 138);
  outline: none;
  border-radius: 8px;
  margin-top: 10px;

  &::placeholder {
    font-size: 15px;
    color: #B2B2B2;
  }
}

select {
  margin: 0 auto;
  width: 200px;
  padding: 10px 5px;
  border-radius: 8px;
  border: 1px solid rgb(0, 195, 138);
  box-shadow: 0 1px 4px rgb(0, 195, 138);
  cursor: pointer;
  font-family: var(--primary-font-family);

  &:focus {
    outline: 2px solid rgb(0, 195, 138);
  }
}

.custom-datepicker {
  width: 200px;
  padding: 10px 5px;
  border-radius: 8px;
  border: 1px solid rgb(0, 195, 138);
  box-shadow: 0 1px 4px rgb(0, 195, 138);
  cursor: pointer;
  font-family: var(--primary-font-family);

  &:focus {
    outline: 2px solid rgb(0, 195, 138);
  }
}