@import "elements/buttons";
@import 'elements/input&select&label';


#root {
    text-align: center;
    --primary-font-family: 'Sigmar One', cursive;
    --secondary-font-family: Libre Baskerville, serif;
    --tertiary-font-family: 'Roboto', sans-serif;
    --main-bg-color: #A7D31F;
    --secondary-color: #55efc4;
    box-sizing: border-box;
}


header {
    position: fixed;
    font-family: var(--primary-font-family);
    background-color: var(--main-bg-color);
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    box-shadow: 0 5px 8px #00000029;


    .dog-head {
        z-index: 100;
        -webkit-animation: head-move 1s ease-in-out infinite;
        padding: 15px 2px;
    }

    @-webkit-keyframes head-move {
        50% {
            -webkit-transform: rotate(-6.5deg);
        }
    }


    .title_class {
        font-size: 25px;
        background-color: var(--secondary-color);
        background-image: linear-gradient(315deg, #55efc4 0%, #000000 74%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        letter-spacing: 3px;
        padding: 8px;
    }


    nav {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav_elements {
            width: 30%;
            display: flex;
            justify-content: space-evenly;
        }
    }
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0;

    .second_title {
        color: #fff;
        margin-top: -30px;
        font-family: var(--secondary-font-family);
        font-size: 30px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        border-radius: 45px;
        padding: 5px 20px;
    }


    .main_card {
        padding: 60px 0;
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        width: 35%;


        .form_footer {
            padding-top: 30px;
            font-size: 15px;
        }
    }


    .form_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .password_forgot_q {
        font-size: 11px;
        opacity: 0.7;
        cursor: pointer;
        text-align: right;
        margin-top: 15px;


        &:hover {
            transform: scale(1.020);
            transition: 0.2s;
        }
    }

    .form_footer {
        width: 100%;
    }
}

footer {
    background-color: #A7D31F;
    box-shadow: 0 -2px 8px 2px rgba(0, 0, 0, 0.2);
}

.footer_container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;


    .footer_nav {
        list-style-type: none;
        margin-left: 60px;
        padding: 15px;


        li {
            color: #2F4F4F;
            cursor: pointer;
            font-family: var(--secondary-font-family);
        }
    }

    .left_footer_container {
        display: flex;
    }

    .right__footer_container {
        padding: 15px;
    }

}

form {
    display: flex;
    flex-direction: column;
}


.first_main_card {
    width: 100%;
    height: 100vh;
    background-image: url("./assets/dog&man background.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;

    .first_title {
        background-color: #55efc4;
        background-image: linear-gradient(315deg, #55efc4 0%, #000000 74%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }


    .searching_bar {
        display: flex;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8);
        padding: 20px 20px;
        border-radius: 20px;
        font-family: var(--primary-font-family);

    }


        .searching_form {
            width: 300px;
            background: rgba(255, 255, 255, 0.6);
            display: flex;
            gap: 10px;
            padding-right: 20px;


            .submit_button_container {
                width: 100%;
                padding: 20px 10px;
                display: flex;
                justify-content: flex-end;
            }

            label {
                font-size: 13px;
                padding: 10px;
            }

            .button_form_container {
                height: 70px;
                padding: 10px;
            }
        }
    }


.second_main_card_part1 {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: space-evenly;
    padding: 100px 0;

    .second_main_columns {
        width: 25%;
        padding: 15px;
        border: 2px solid #55dfb4;
        border-radius: 20px;
        transition: 0.5s;
        margin: 0;

        &:hover {
            box-shadow: 2px 2px 25px #55dfb4;
            transform: scale(1.1);
        }
    }
}

.second_main_card_part2 {
    width: 100%;
    padding: 100px 0;
    display: flex;

    .img_container {
        width: 750px;
        height: 495px;
        border-radius: 0 25px 25px 0;
        background-image: url("./assets/dog&women.jpg");
        background-position: left;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .primary_check_container {
        width: 40%;
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 40px;
        font-family: 'Roboto', sans-serif;
        list-style-type: disc;

        li {
            padding-left: 2px;
        }
    }
}

.second_main_card_part3 {
    padding: 100px 0;
    width: 90%;
    display: flex;
    justify-content: space-around;

    .service {

        .service_wrap {
            display: flex;
            flex-direction: column;
            align-items: center;


            .service_icon1 {
                background-image: url("./assets/direction-icon-original.svg");
                background-size: contain;
                width: 64px;
                height: 64px;
            }

            .service_icon2 {
                background-image: url("./assets/approved-icon-original.svg");
                background-size: contain;
                width: 64px;
                height: 64px;
            }

            .service_icon3 {
                background-image: url("./assets/PngItem_5099394.png");
                background-size: contain;
                width: 64px;
                height: 64px;
            }
        }
    }
}

.second_main_card_part4 {
    padding: 80px 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    column-gap: 20px;

    .secondary_check_container {
        width: 40%;
        text-align: right;
        font-family: 'Roboto', sans-serif;
        list-style-type: none;

        li {
            margin-top: 40px;
        }
    }

    .second_img_container {
        width: 750px;
        height: 495px;
        background-image: url("./assets/dogs.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 25px 0 0 25px;
    }
}

.user_container {
    width: 100%;
    height: 100%;
    padding: 100px 0;
    display: flex;
    justify-content: center;

}

.profile_data_container {
    height: 100%;
    width: 1000px;
    display: flex;
    justify-content: center;
    padding: 70px;



    .form_data_container {
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        flex: 1;
    }

    .map_container {
        flex: 1;
        position: relative;
        border: 2px solid var(--secondary-color);

        .leaflet-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.profiles_container {
    width: 100vw;
    height: 100vh;
}